{% extends 'Base.html' %}
{% load static %}
{% block content %}
<style>
    .rejected {
        color: red;
        font-size: larger;
    }
    
    .pending {
        color:rgb(10, 76, 28);
        font-size: larger;
    }
</style>

    <div class="container mt-5">
        <h3 class="subtitle">{{ application.job.title }}</h3>

        <small class="d-block mb-4">Date added: {{ application.created_at }}</small>

        <div class="mb-4">
            <strong>Candidate:</strong><br>
            <p>{{ application.created_by.username }}</p>
        </div>
        <div class="mb-4">
            <strong>Content:</strong><br>
            <p>{{ application.content }}</p>
        </div>

        <div class="mb-4">
            <strong>Experience:</strong><br>
            <p>{{ application.experience }}</p>
        </div>
            {% if request.user.userprofile.is_employer %}
            <!-- Show the button only for employers -->

            <form action="{% url 'Reject_Application' application.id %}" method="post">
                {% csrf_token %}
                <button class="btn btn-danger" name="reject_application" type="submit">Reject Application</button>
            </form>
            {% else %}
            <p class="{% if application.status == 'rejected' %}rejected{% else %}pending{% endif %}">
                <strong>{{ application.status|capfirst }}</strong>
             </p>
            {% endif %}
        <br>
        <hr class="my-5">

        <h2 class="subtitle">Conversation</h2>

        {% for message in application.conversationmessages.all %}
            <div class="notification mt-3">
                <b>{{ message.created_by.username }} - {{ message.created_at|timesince }} ago</b><br>
                {{ message.content }}
            </div>
        {% empty %}
            <p class="mt-3">No messages yet...</p>

            <hr>
        {% endfor %}
        
        <form method="post" action="." class="mt-5" id="rejectForm">
            {% csrf_token %}

            <div class="form-group">
                <label for="id_content">Send message:</label>
                <textarea class="form-control" rows="4" name="content" id="id_content"></textarea>
            </div>

            <div class="mt-3">
                <button class="btn btn-success">Send</button>
            </div>
        </form>
        <br><br><br>
    </div>

    

{% endblock %}
